@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        
	font-size: 20px;
font-style: normal;

	margin-left: 3px;
}.flaticon-avi2:before {
	content: "\e000";
}
.flaticon-movie47:before {
	content: "\e001";
}
.flaticon-mp34:before {
	content: "\e002";
}
.flaticon-mp42:before {
	content: "\e003";
}
.flaticon-open127:before {
	content: "\e004";
}
.flaticon-text70:before {
	content: "\e005";
}
